.track-info {
  text-align: center;
  color: white;
  position: relative; /* Απαραίτητο για το κουμπί "κλείσιμο" */
}

.track-info h3 {
  font-size: 20px;
  margin: 0;
}

.track-info p {
  font-size: 16px;
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background: darkred;
}
