body {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.museum-name {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #fff;
}

.content {
    text-align: center;
}

#artwork img {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}