
.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings {
  position: absolute;
  top: 50px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.settings label {
  display: block;
  margin-bottom: 10px;
}

.settings input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

.description {
  display: none; /* Απόκρυψη του αρχικού περιεχομένου */
}

.floating-text {
  position: absolute;
  animation: float 20s ease-in-out infinite;
  font-family: 'Arial', sans-serif; /* Διακριτική γραμματοσειρά */
  color: rgba(255, 255, 255, 0.8); /* Διακριτικό χρώμα */
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(calc(-50% + 10px), calc(-50% + 10px));
  }
  50% {
    transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  }
  75% {
    transform: translate(calc(-50% + 10px), calc(-50% - 10px));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}