/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Αποφυγή scrollbars */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Προεπιλεγμένο φόντο */
  color: #fff; /* Προεπιλεγμένο χρώμα κειμένου */
}

/* Links */
a {
  color: #2b3535; /* Προεπιλεγμένο χρώμα για links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */
button:not(.refresh-button) {
  background-color: #212628;
  color: #a9a7a7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:not(.refresh-button):hover {
  background-color: #68899a;
}

/* Code blocks */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #282c34;
  color: #a5cbcb;
  padding: 2px 4px;
  border-radius: 3px;
}

pre {
  background-color: #282c34;
  color: #9ea3a4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
