<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Wallpaper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Add the Google Fonts link to use a beautiful font -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <p class="museum-name">Museum of Art</p>
    </div>
    <div class="content">
        <h1>Welcome to Art Wallpaper App</h1>
        <div id="artwork">
            <h2>{{ artwork.title }}</h2>
            <img src="{{ artwork.image_url }}" alt="{{ artwork.title }}" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';">
            <p>{{ artwork.artist }}</p>
            <p>{{ artwork.description }}</p>
        </div>
        <!-- Refresh Button -->
        <button id="refreshButton">Refresh Page</button>
    </div>
    <script>
        // Add event listener to the refresh button to reload the page
        document.getElementById('refreshButton').addEventListener('click', function() {
            location.reload();
        });

        // Automatically refresh the page every 5 minutes (300000 milliseconds)
        setInterval(function() {
            location.reload();
        }, 300000); // 300000 milliseconds = 5 minutes

        // Check if the image is loaded before displaying the page
        const img = document.querySelector('#artwork img');
        img.onload = () => {
            document.body.style.visibility = 'visible';
        };
        img.onerror = () => {
            document.body.style.visibility = 'visible';
        };

        // Hide the body initially
        document.body.style.visibility = 'hidden';
    </script>
</body>
</html>